.small-font {
    font-size: 10px; 
    color: #666; 
    margin-top: 1px;
}
.top {
    margin-top: 95px;
  }
.bg-pink {
    background-color: rgb(151, 80, 209);
  }
  .delete {
    background-color: white;
    color: rgb(151, 80, 209);
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 12px;
    cursor: pointer;
    position: absolute; 
    top: 2px; 
    right: 2px; 
  }

.custom-checkbox {
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(151, 80, 209); 
    border-radius: 50%; 
    background-color: transparent;
}
  
.custom-checkbox:checked {
    background-color: rgb(151, 80, 209);
}
.custom-checkbox:hover {
    background-color: rgb(151, 80, 209); 
  }
  
.custom-checkbox::before {
    content: '\2713';
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 8px;
    height: 8px;
    border-radius: 50%; 
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    color: white;
}
.custom-checkbox.checked::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white; 
}
.custom-checkbox:hover::before {
    opacity: 1;
}
.btn-outline-primary{
    border:1px solid rgb(151, 80, 209) ;
    color:rgb(151, 80, 209)
}
.btn-outline-primary:hover {
    background-color: rgb(151, 80, 209);
    border-color: rgb(151, 80, 209);
    color: white;
  } 
.background-image-container {
    background-image: url('../../../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100vh; 
}
.circle-checkmark {
  font-family: sans-serif;
  background: rgb(151, 80, 209);
  color: white;
  padding: 1px 4px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

li {
  margin: 4px 0;
}

li::before {
  font-family: sans-serif;
  content: "✔";
  color: white;
  display: inline-block;
  width: 1em;
  background: lightblue;
  padding-left: 3px;
  border-radius: 50%;
  margin-right: 1em;
}